<a href="https://colab.research.google.com/github/amitya369/Data_science_with_python_lab/blob/main/dsp_lab_unit04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

my_list = [10, 20, 30, 40]
series_from_list = pd.Series(my_list)
print("Series from list:\n", series_from_list)

my_array = np.array([50, 60, 70, 80])
series_from_array = pd.Series(my_array)
print("\nSeries from array:\n", series_from_array)

my_dict = {'a': 100, 'b': 200, 'c': 300}
series_from_dict = pd.Series(my_dict)
print("\nSeries from dictionary:\n", series_from_dict)

# AMIT KUMAR YADAV

Series from list:
 0    10
1    20
2    30
3    40
dtype: int64

Series from array:
 0    50
1    60
2    70
3    80
dtype: int64

Series from dictionary:
 a    100
b    200
c    300
dtype: int64

In [3]:
import pandas as pd
import numpy as np

series = pd.Series([1, 2, 3, 4])
array = np.array([1, 2, 3, 4])

print("Pandas Series:\n", series)
print("\nNumPy Array:\n", array)

print("\nSeries index:", series.index)
print("Array shape:", array.shape)

# AMIT KUMAR YADAV

Pandas Series:
 0    1
1    2
2    3
3    4
dtype: int64

NumPy Array:
 [1 2 3 4]

Series index: RangeIndex(start=0, stop=4, step=1)
Array shape: (4,)

In [4]:
import pandas as pd

series = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("Series:\n", series)

print("\nValue for index 'b':", series['b'])

# AMIT KUMAR YADAV

Series:
 a    10
b    20
c    30
d    40
dtype: int64

Value for index 'b': 20

In [5]:
import pandas as pd

data = {
    'Name': ['John', 'Paul', 'George'],
    'Age': [28, 22, 35],
    'City': ['New York', 'London', 'Berlin']
}
df = pd.DataFrame(data)

print("Names:\n", df['Name'])

print("\nNames and Ages:\n", df[['Name', 'Age']])

print("\nFirst row:\n", df.iloc[0])

# AMIT KUMAR YADAV

Names:
 0      John
1      Paul
2    George
Name: Name, dtype: object

Names and Ages:
      Name  Age
0    John   28
1    Paul   22
2  George   35

First row:
 Name        John
Age           28
City    New York
Name: 0, dtype: object

In [6]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

df['C'] = [7, 8, 9]
print("DataFrame with new column:\n", df)

df = df.drop('B', axis=1)
print("\nDataFrame after removing column B:\n", df)

# AMIT KUMAR YADAV

DataFrame with new column:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

DataFrame after removing column B:
    A  C
0  1  7
1  2  8
2  3  9

In [7]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Score': [90, 85, 88]}
df = pd.DataFrame(data)

print("Subset of rows and columns:\n", df.loc[1:2, ['Name', 'Score']])

# AMIT KUMAR YADAV

Subset of rows and columns:
       Name  Score
1      Bob     85
2  Charlie     88

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Score': [90, 85, 88]}
df = pd.DataFrame(data)

filtered_df = df[df['Age'] > 28]
print("Filtered DataFrame:\n", filtered_df)

# AMIT KUMAR YADAV

Filtered DataFrame:
       Name  Age  Score
1      Bob   30     85
2  Charlie   35     88

In [9]:
import pandas as pd

arrays = [['one', 'one', 'two', 'two'], ['a', 'b', 'a', 'b']]
index = pd.MultiIndex.from_arrays(arrays, names=('first', 'second'))
df = pd.DataFrame({'Value': [1, 2, 3, 4]}, index=index)

print("Multi-index DataFrame:\n", df)

print("\nValue from ('one', 'a'):", df.loc[('one', 'a')])

# AMIT KUMAR YADAV

Multi-index DataFrame:
               Value
first second
one   a           1
      b           2
two   a           3
      b           4

Value from ('one', 'a'): Value    1
Name: (one, a), dtype: int64

In [10]:
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan], 'B': [5, np.nan, 7]}
df = pd.DataFrame(data)

df_filled = df.fillna(df.mean())
print("DataFrame with missing values filled:\n", df_filled)

# AMIT KUMAR YADAV

DataFrame with missing values filled:
      A    B
0  1.0  5.0
1  2.0  6.0
2  1.5  7.0

In [11]:
import pandas as pd

data = {'Category': ['A', 'A', 'B', 'B'], 'Values': [10, 20, 15, 25]}
df = pd.DataFrame(data)

grouped = df.groupby('Category').agg({'Values': ['sum', 'mean']})
print("Grouped data with sum and mean:\n", grouped)

# AMIT KUMAR YADAV

Grouped data with sum and mean:
          Values
            sum  mean
Category
A            30  15.0
B            40  20.0

In [12]:
import pandas as pd

df1 = pd.DataFrame({'Key': ['A', 'B', 'C'], 'Value1': [1, 2, 3]})
df2 = pd.DataFrame({'Key': ['A', 'B', 'D'], 'Value2': [4, 5, 6]})

merged_df = pd.merge(df1, df2, on='Key', how='outer')
print("Merged DataFrame:\n", merged_df)

# AMIT KUMAR YADAV

Merged DataFrame:
   Key  Value1  Value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [13]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'Alice'], 'Age': [25, 30, 35, 25]}
df = pd.DataFrame(data)

unique_names = df['Name'].unique()
print("Unique names:", unique_names)

# AMIT KUMAR YADAV

Unique names: ['Alice' 'Bob' 'Charlie']

In [14]:
import pandas as pd

data = {'Numbers': [10, 20, 30]}
df = pd.DataFrame(data)

df['Doubled'] = df['Numbers'].apply(lambda x: x * 2)
print("DataFrame with doubled numbers:\n", df)

# AMIT KUMAR YADAV

DataFrame with doubled numbers:
    Numbers  Doubled
0       10       20
1       20       40
2       30       60

In [15]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

df_sorted = df.sort_values(by='Age', ascending=False)
print("Sorted DataFrame by Age:\n", df_sorted)

# AMIT KUMAR YADAV

Sorted DataFrame by Age:
       Name  Age
2  Charlie   35
1      Bob   30
0    Alice   25

In [16]:
import pandas as pd

data = {'A': [1, None, 3], 'B': [None, 5, 6]}
df = pd.DataFrame(data)

null_values = df.isnull()
print("Null values:\n", null_values)

# AMIT KUMAR YADAV

Null values:
        A      B
0  False   True
1   True  False
2  False  False

In [ ]:
import pandas as pd

csv_df = pd.read_csv('sample.csv')
excel_df = pd.read_excel('sample.xlsx')
txt_df = pd.read_csv('sample.txt', sep='\t')

# AMIT KUMAR YADAV