<a href="https://colab.research.google.com/github/amitya369/Data_science_with_python_lab/blob/main/DSP_LAB_UNIT_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list.append(6)
print("List after adding an element:", my_list)
my_list.remove(3)
print("List after removing an element:", my_list)
list_length = len(my_list)
print("Length of the list:", list_length)

# AMIT KUMAR YADAV

List after adding an element: [1, 2, 3, 4, 5, 6]
List after removing an element: [1, 2, 4, 5, 6]
Length of the list: 5

In [3]:

my_list = [1, 2, 3, 4, 5]
for element in my_list:
  print(element)
my_tuple = (10, 20, 30, 40, 50)
print("First element:", my_tuple[0])
print("Second element:", my_tuple[1])

for element in my_tuple:
  print(element)
  # AMIT KUMAR YADAV

1
2
3
4
5
First element: 10
Second element: 20
10
20
30
40
50

In [4]:

my_tuple = (10, 20, 30, 40, 50)
print("First element:", my_tuple[0])
print("Second element:", my_tuple[1])
for element in my_tuple:
  print(element)
try:
  my_tuple[0] = 100
except TypeError as e:
  print("Error:", e)

print("Original tuple:", my_tuple)
new_tuple = my_tuple + (60,)
print("New tuple:", new_tuple)
print("Original tuple remains unchanged:", my_tuple)
# AMIT KUMAR YADAV

First element: 10
Second element: 20
10
20
30
40
50
Error: 'tuple' object does not support item assignment
Original tuple: (10, 20, 30, 40, 50)
New tuple: (10, 20, 30, 40, 50, 60)
Original tuple remains unchanged: (10, 20, 30, 40, 50)

In [5]:

def matrix_addition(matrix1, matrix2):

  if len(matrix1) != len(matrix2) or len(matrix1[0]) != len(matrix2[0]):
    return None
  result_matrix = []
  for i in range(len(matrix1)):
    row = []
    for j in range(len(matrix1[0])):
      row.append(matrix1[i][j] + matrix2[i][j])
    result_matrix.append(row)

  return result_matrix

matrix_a = [[1, 2, 3],
            [4, 5, 6],
            [7, 8, 9]]

matrix_b = [[9, 8, 7],
            [6, 5, 4],
            [3, 2, 1]]
sum_matrix = matrix_addition(matrix_a, matrix_b)
if sum_matrix:
  print("Sum of matrices:")
  for row in sum_matrix:
    print(row)
else:
  print("Matrices cannot be added due to incompatible dimensions.")
  # AMIT KUMAR YADAV

Sum of matrices:
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [6]:

my_list = [1, 2, 3, 4, 5]

i = 0
while i < len(my_list):
  print(my_list[i])
  i += 1
  # AMIT KUMAR YADAV

1
2
3
4
5

In [7]:
import copy
original_list = [[1, 2, 3], [4, 5, 6]]
shallow_copy = copy.copy(original_list)

# Deep copy
deep_copy = copy.deepcopy(original_list)

original_list[0][0] = 99

# Print the lists
print("Original list:", original_list)
print("Shallow copy:", shallow_copy)
print("Deep copy:", deep_copy)
# AMIT KUMAR YADAV

Original list: [[99, 2, 3], [4, 5, 6]]
Shallow copy: [[99, 2, 3], [4, 5, 6]]
Deep copy: [[1, 2, 3], [4, 5, 6]]

In [8]:
my_dict = {'apple': 1, 'banana': 2, 'orange': 3}
my_dict['grape'] = 4
print("Dictionary after adding an element:", my_dict)

# Remove an element
del my_dict['banana']
print("Dictionary after removing an element:", my_dict)

# Update an element
my_dict['apple'] = 5
print("Dictionary after updating an element:", my_dict)
# AMIT KUMAR YADAV

Dictionary after adding an element: {'apple': 1, 'banana': 2, 'orange': 3, 'grape': 4}
Dictionary after removing an element: {'apple': 1, 'orange': 3, 'grape': 4}
Dictionary after updating an element: {'apple': 5, 'orange': 3, 'grape': 4}

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)
difference_set = set1.difference(set2)
print("Difference between set1 and set2:", difference_set)

symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference between set1 and set2:", symmetric_difference_set)
# AMIT KUMAR YADAV

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
Difference between set1 and set2: {1, 2, 3}
Symmetric difference between set1 and set2: {1, 2, 3, 6, 7, 8}

In [10]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")
# AMIT KUMAR YADAV

The factorial of 5 is 120

In [11]:
def merge_sort(arr):
  if len(arr) <= 1:
    return arr

  mid = len(arr) // 2
  left_half = arr[:mid]
  right_half = arr[mid:]

  left_half = merge_sort(left_half)
  right_half = merge_sort(right_half)

  return merge(left_half, right_half)
def merge(left, right):

  merged_list = []
  i = j = 0

  while i < len(left) and j < len(right):
    if left[i] <= right[j]:
      merged_list.append(left[i])
      i += 1
    else:
      merged_list.append(right[j])
      j += 1

  merged_list.extend(left[i:])
  merged_list.extend(right[j:])

  return merged_list


# Example usage
my_list = [38, 27, 43, 3, 9, 82, 10]
sorted_list = merge_sort(my_list)
print("Sorted list:", sorted_list)
# AMIT KUMAR YADAV

Sorted list: [3, 9, 10, 27, 38, 43, 82]

In [12]:
def tower_of_hanoi(n, source, destination, auxiliary):
  if n == 1:
    print(f"Move disk 1 from {source} to {destination}")
  else:
    tower_of_hanoi(n - 1, source, auxiliary, destination)
    print(f"Move disk {n} from {source} to {destination}")
    tower_of_hanoi(n - 1, auxiliary, destination, source)


# Example usage
num_disks = 3
tower_of_hanoi(num_disks, 'A', 'C', 'B')
# AMIT KUMAR YADAV

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C